{% extends "base.html.twig" %}

{% block title %}QfD - {{ 'base.menu.profile'|trans }}{% endblock %}

    {% block content %}
        <div class="jumbotron square">
            {% block profileContent %}
            {% endblock %}
        </div>
    {% endblock %}

{% block sideContent %}
    <ul>
        <li class="form-group">
            <a href="{{ path('profile_index') }}">
                <button type="button" class="btn btn-default btn-lg btn-block">{{ 'profile.menu.unanswered' | trans }}</button>
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="form-group">
                <a href="{{ path('developer_overview') }}">
                    <button type="button" class="btn btn-default btn-lg btn-block">{{ 'profile.menu.newDev' | trans }}
                    </button>
                </a>
            </li>
            <li class="form-group">
                <a href="{{ path('category_index') }}">
                    <button type="button" class="btn btn-default btn-lg btn-block">{{ 'profile.menu.categories' | trans }}
                    </button>
                </a>
            </li>

        {% endif %}
        <li class="form-group">
            <a href="{{ path('profile_answered') }}">
                <button type="button" class="btn btn-default btn-lg btn-block">{{ 'profile.menu.answered' | trans }}</button>
            </a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">
                <button type="button" class="btn btn-default btn-lg btn-block">{{ 'profile.menu.profile.edit' | trans }}</button>
            </a>
        </li>
        <li class="form-group text-right">
            <a href="{{ path('fos_user_security_logout') }}">
                <button type="button" class="btn btn-default btn-sm btn-lower">{{ 'profile.general.logout' | trans }}</button>
            </a>

        </li>
    </ul>
{% endblock %}